@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Nunito:wght@200;300;400;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=El+Messiri&display=swap');
*{
    font-family: 'El Messiri', sans-serif;
    
    color: rgba(0,0,0,var(--tw-text-opacity));
 
}
body{
    zoom:90% !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
